.pai{
    body{
        background-color: #252048;
        
        
        }
        
        div{
        background-color: white;
        
        }
        
        .primeiro{
        text-align: center;
        margin: 100px;
        padding: 120px 10px;
        font-size: 30px;
        
        }
        
        a{
        color: white;
        margin: 50px;
        font-size: 30px;
        text-decoration: none;
        }
        
        .Serviço{
            font-family: 'Roboto3';
        }
        
        .Agendar{
        font-family:'Inter';
        background-color: #252048;
        margin-left: 50px;
        margin-top: 50px;
        margin-right: 50px;
        margin: 110px;
        padding: 60px 10px ;
        
        }
        
        .Consulta{
        background-color: #252048;
        font-family: 'Inter';
        margin-top: 150px;
        margin-left: 50px;
        margin-right: 50px;
        margin: 110px;
        padding: 60px 10px ;
        
        
        }
        .img-1{
        margin-left: -750px;
        margin-top: -10px;
        
        
        
        }


}